/* color pallet */
*{
    --primary-color:#330066;
    --secondary-color:#00ccff;
    --accent-color:#ff3300;
    --text-color:#666666;
}

/* global adjustments */
* , *::after , *::before{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    vertical-align: top;
}

/* typography */

body{
 font-family: 'Inter', Arial, Helvetica, sans-serif;
 font-size: 2.4rem;
 color: var(--text-color);
}
h1,h2,h3{
    color: var(--primary-color);
   padding-bottom: 0;
   margin-bottom: 0;
    letter-spacing: 0.9;
    line-height: 0.6;
}
h1{
    font-size: 4rem;
    font-weight: bolder;
}
h2{
    font-size: 3rem;
    font-weight: bolder;
}
h3{
    font-size: 2.8rem;
    font-weight: bold;
}
p{
    line-height: 1.4;
}

@media screen and (min-width:768px) {
    h1,h2,h3{
    color: var(--primary-color);
   padding-bottom: 0;
   margin-bottom: 0;
    letter-spacing: 0.9;
    line-height: 0.6;
}
h1{
    font-size: 6rem;
    font-weight: bolder;
}
h2{
    font-size: 4rem;
    font-weight: bolder;
}
h3{
    font-size: 3rem;
    font-weight: bold;
}
p{
    line-height: 1.4;
    font-size: 1.8rem;
}
    
}

/* links */
a{
    text-decoration: none;
}

.link{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    color: var(--accent-color);
}

.link::after{
    content: "-->";
    padding-left: 0.5rem;
    transition: 0.3s;
}

.link:hover::after {
    padding-left: 1.2rem;
}

@media screen and (min-width:768px ) {

.link{ 
    font-size: 1.5rem;  
}
    
}

/* buttons */
.btn{
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    padding:2.4rem 4.6rem;
    border: none;
    text-align: center;
}
.btn--primary{
    background-color: var(--primary-color);
}
.btn--accent{
    background-color: var(--accent-color);
}
.btn--secondary{
    background-color: var(--secondary-color);
}
.btn--outline{
    background-color: none;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}
.btn--stretch{
    width: 100%;
}

.btn--accent:hover{
    background-color: #d32e05;
}

.btn--outline:hover{
    background-color: var(--primary-color);
    border: none;
    color: white;
}
.btn--secondary:hover{
    background-color: #05a3ca;
}

@media screen and ( min-width:768px) {
    .btn{
        font-size: 1.4rem;
        padding:2rem 4rem;

    }
    
}

/* badges */
.badge{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0.5rem 0.8rem;
    text-transform: uppercase;
    color: white;
    border-radius: 20px;
}

.badge--primary{
    background-color: rgb(5, 5, 212);
}
.badge--secondary{
    background-color: var(--secondary-color);
}

@media screen and (min-width:768px) {
    .badge{
        font-size: 1.2rem;
    }
    
}

/* list */
.list{
    list-style-type: none;
    padding-left: 0;
    font-size: 2.4rem;
    text-transform: capitalize;
}

.list--item{
    padding-bottom:1rem;
}

.list--horizontal{
    display: flex;
    overflow: hidden;
}
.list--horizontal .list--item{
    padding-left: 1rem;
}

@media screen and (min-width:768px) {
    .list{
        font-size: 1.8rem;
    }
    
}

/* icons */
.icon{
    width: 40px;
    height: 40px;

}
.icon--primary{
    fill: var(--primary-color);
}

.icon--secondary{
    fill:var(--secondary-color)
}

.icon--white{
    fill: white;
}
.icon--small{
    width: 20px;
    height: 20px;
}

.icon--container{
    display: inline-flex;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    
}

.icon--container--gray{
    background-color: #f0efef;
}

.icon--container--accent{
    background-color: var(--accent-color)
}

@media screen and (min-width:768px) {
    .icon{
        width: 30px;
        height: 30px;
    }

    .icon--container{
        width: 50px;
        height: 50px;
    }
    
}

/* inputs */
.input{
    
    display: flex;
    border-radius: 30px;
    box-shadow: 0px 10px 30px 0px rgba(9, 58, 88, 0.4);
    align-items: center;
    padding: 0rem 0rem 0rem 1rem;
    margin-top: 1rem;
}

.input input{
    border: none;
    font-size: 1.5rem;
    word-spacing: -0.3rem;
    flex-grow: 1;
    padding-right: 0.5rem;
    outline: none;
}

::placeholder{
    opacity: 0.5;
}

.input .btn{
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0;
}

.btn .icon{
   margin-left: 0rem;
   margin-right: 0.5rem;
}

/* cards */
.card{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
}

.card--head{
    color: white;
    padding:0.5rem 0.5rem;
}
.card--head--primary{
    background-color: var(--primary-color);
}

.card--head--secondary{
    background-color: var(--secondary-color);
}
.card__name{
    font-weight: bold;
    font-size: 2.4rem;
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
}

.card__price{
    font-size: 6rem;
    font-weight: 200;
}
.card__duration{
    font-size: 2.4rem;
    font-weight: 200;
}

.card--head .badge{
    margin-left: 1rem;
    vertical-align: text-bottom;
}

.card__description{
    font-weight: 200;
    font-size: 2rem;
    opacity: 1;
    margin-top: 0.5rem;
}

.card--content{
    display: flex;
    flex-direction: column;
}

.card--content .list{
    color: var(--primary-color);
    font-size: 2.4rem;
    padding: 0.5rem 2rem 4rem 3rem;
}

.card--content .list--item{
    padding-top: 1rem;
   
}
.card--content .list--item::before{
    content:" + ";
    color: var(--accent-color);
}

.card--content .btn{
    margin-top: 2rem;
    align-self: center;
    justify-self: center;
    place-self: center;
}


@media screen and (min-width:768px) {
    .card--head{
        padding: 2rem;
    }
    .card__name{
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
    }
    .card__price{
        font-size: 5rem;
    }
    .card__duration{
        font-size: 1.6rem;

    }
    .card__description{
        font-size: 1.7rem;
        margin-bottom: 0.4rem;
    }

    .card--content .list--item{
        font-size: 1.8rem;
    }

    .card--content .list{
        margin-top: 0.5rem;
    }
    .card--content .btn{
        margin-top: 3rem;
    }
    
}





