/* color pallet */
*{
    --primary-color:#330066;
    --secondary-color:#00ccff;
    --accent-color:#ff3300;
    --text-color:#666666;
}

/* global adjustments */
* , *::after , *::before{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    
}