/* color pallet */
*{
    --primary-color:#330066;
    --secondary-color:#00ccff;
    --accent-color:#ff3300;
    --text-color:#666666;
}

/* global adjustments */
* , *::after , *::before{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    vertical-align: top;
}

/* typography */

body{
 font-family: 'Inter', Arial, Helvetica, sans-serif;
 font-size: 2.4rem;
 color: var(--text-color);
}
h1,h2,h3{
    color: var(--primary-color);
   padding-bottom: 0;
   margin-bottom: 0;
    letter-spacing: 0.9;
    line-height: 0.6;
}
h1{
    font-size: 4rem;
    font-weight: bolder;
}
h2{
    font-size: 3rem;
    font-weight: bolder;
}
h3{
    font-size: 2.8rem;
    font-weight: bold;
}
p{
    line-height: 1.4;
}

@media screen and (min-width:768px) {
    h1,h2,h3{
    color: var(--primary-color);
   padding-bottom: 0;
   margin-bottom: 0;
    letter-spacing: 0.9;
    line-height: 0.6;
}
h1{
    font-size: 6rem;
    font-weight: bolder;
}
h2{
    font-size: 4rem;
    font-weight: bolder;
}
h3{
    font-size: 3rem;
    font-weight: bold;
}
p{
    line-height: 1.4;
    font-size: 1.8rem;
}
    
}

/* links */
a{
    text-decoration: none;
}

.link{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    color: var(--accent-color);
}

.link::after{
    content: "-->";
    padding-left: 0.5rem;
    transition: 0.3s;
}

.link:hover::after {
    padding-left: 1.2rem;
}

@media screen and (min-width:768px ) {

.link{ 
    font-size: 1.5rem;  
}
    
}

/* buttons */
.btn{
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    padding:2.4rem 4.6rem;
    border: none;
    text-align: center;
}
.btn--primary{
    background-color: var(--primary-color);
}
.btn--accent{
    background-color: var(--accent-color);
}
.btn--secondary{
    background-color: var(--secondary-color);
}
.btn--outline{
    background-color: none;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}
.btn--stretch{
    width: 100%;
}

.btn--accent:hover{
    background-color: #d32e05;
}

.btn--outline:hover{
    background-color: var(--primary-color);
    border: none;
    color: white;
}
.btn--secondary:hover{
    background-color: #05a3ca;
}

@media screen and ( min-width:768px) {
    .btn{
        font-size: 1.4rem;
        padding:2rem 4rem;

    }
    
}


