<div class="media">
    <div class="media__icon">
        <svg class="icon icon--primary">
            <use xlink:href=" logosandicons/sprite.svg#wordpress"></use>
        </svg>
    </div>
    <div class="media__content">
        <h3 class="media__title">Easy Start & Managed Updates</h3>
        <p class="media__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius tempora quidem illum
            dolor doloribus sunt sit nisi esse! Distinctio dolor nisi eos placeat, aliquid ipsum et soluta nemo.
            Quaerat, numquam?</p>

    </div>