<div class="quote">
    <p class="quote__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ea repellat aperiam,
        autem perferendis nihil sequi voluptate id. Amet, hic pariatur sequi eveniet in assumenda sapiente facere dicta
        ullam voluptatem?</p>
    <div class="media">
        <div class="media__icon">
            <svg class="icon icon--primary">
                <use xlink:href=" logosandicons/sprite.svg#line"></use>
            </svg>
        </div>
        <div class="media__content">
            <h3 class="media__title"> Jonatech 256</h3>
            <p class="media__description">Green Code</p>

        </div>
    </div>