<div class="testimonial grid grid--1by2 ">
    <div class="testimonial__photo">
        <div class="testimonial__icon">
            <span class="icon--container icon--container--accent">
                <svg class="icon icon--white">
                    <use xlink:href=" logosandicons/sprite.svg#quotes"></use>
                </svg>
            </span>
        </div>
        <img class="testimonial__img" src="logosandicons/testimonial.jpg" alt="">
    </div>

    <div class="quote">
        <p class="quote__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ea repellat aperiam,
            autem perferendis nihil sequi voluptate id. Amet, hic pariatur sequi eveniet in assumenda sapiente facere
            dicta ullam voluptatem?</p>
        <div class="media">
            <div class="media__icon">
                <svg class="icon icon--primary">
                    <use xlink:href=" logosandicons/sprite.svg#line"></use>
                </svg>
            </div>
            <div class="media__content">
                <h3 class="media__title"> Jonatech 256</h3>
                <p class="media__description">Green Code</p>

            </div>
        </div>
    </div>